<service>
  <Name>ElasticsearchService</Name>
  <DisplayName>ElasticsearchService</DisplayName>
  <Description>A Bottles/TopShelf hosted service</Description>
  <UseEventLog>false</UseEventLog>
  
  <!-- Set this if there is an ambiguity about what bootstrapper or IApplicationLoader 
       BottleServiceRunner should use -->
  <!--<BootstrapperType>assembly qualified name of a specific bootstrapper type</BootstrapperType>-->

</service>